.keyboard {
	text-align: center;
}

.keyOuter {
	display: inline-block;
	position: relative;
	height: 200px;
}

.key {
	outline: none;
	color: transparent;
	cursor: pointer;
	transition: all .3s ease;
}

.white {
	background: #fff;
	width: 40px;
	border: 1px solid #c0c0c0;
	height: 100%;
}

.white:hover {
	background: #e8ffe8;
}

.black {
	position: absolute;
	top: 95px;
	left: -12px;
	height: 140px;
	background: #050505;
	width: 25px;
	border: none;
	z-index: 10;
	border-radius: 0 0 5px 5px;
}

.black:hover {
	background: #0d0d0d;
}
