* {
  outline: none !important;
}
body {
  background: linear-gradient(-45deg, #c21ef1, #f73c7e);
  height: 100vh;
}

.app__outer {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.app__inner {
  margin: 0 auto;
  align-self: flex-end;
}
